.Toast{
  position: fixed;
  bottom: 2vh;
  right: 10%;
  background: #2b2b2b;
  border-radius: 5px;
  width: calc(80%);
  max-width: 400px;
  z-index: 2;
  padding: 8px;
  box-shadow: 0px 17px 10px -10px rgba(0,0,0,0.4);

  display: flex;
  justify-content: space-around;
  align-items: center;
  color: white;
  text-transform: uppercase;

  p{
    text-align: center;
    font-weight: 400;
    line-height: 20px;
    font-size: 14px;
    span.red{
      font-weight: 900;
      color: #f44336;
    }
  }
}
