.Modal {
    z-index: 11;
    opacity: 0.1;
    transform: translateY(-50px);
    background: white;
    width: 80%;
    max-width: 300px;
    padding: 20px;
    border-radius: 8px;
    transition: transform 0.3s ease-out;
    height: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    &.activeModal {
        opacity: 1;
        height: 300px;
        transform: translateY(0px);
    }
}
