
.ForgotPassword {
    position: relative;
    padding-top: 150px;
    height: 100vh;
    background: url("../../assets/img/bg4.jpg") 50% no-repeat;
    background-size: cover;
    box-sizing: border-box;
    &:after {
        content: '';
        background: black;
        opacity: 0.4;
        height: 100%;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
    }
    .innerContent {
        color: #fff;
        position: relative;
        z-index: 2;

        form {
            background: #fff;
            color: #171717;
            border-radius: 8px;
            padding: 70px 20px;
            box-shadow: 0px 1px 3px 2px #b1b1b1;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 350px;
            margin: 0 auto;

            .errorMessage {
                margin: 0;
                font-size: 12px;
                background: #db131396;
                width: 250px;
                color: #fff;
                padding: 0;
                box-sizing: border-box;
                border-radius: 4px;
                transition: all 0.3s ease-out;
                transform: scale(0);
                &.active {
                    padding: 5px 10px;
                    transform: scale(1);
                }
            }

            input {
                border-radius: 4px;
                border: 1px solid #ccc;
                padding: 10px 18px;
                margin: 5px;
                width: 250px;
                margin-top: 20px;
                box-sizing: border-box;

                &[type="submit"] {
                    cursor: pointer;
                    background: #0084bd;
                    color: white;
                }
            }

            @media(max-width: 767px) {
                width: 80%;
                padding: 50px 20px;
                h1 {
                    margin-top: 0;
                }

                input {
                    padding: 15px 18px;
                }
            }
        }
    }

    .Modal{
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 20px;
        &.active{
            height: 100px !important;
        }
    }
}

