$red: #c62828;
$green: green;
$widthOfTodoText: 200px;

:root{
  font-size: 16px;
}

*{
  user-select: none;
}

.todos{
  .todo{
    cursor: pointer;
    position: absolute;
    display: flex;
    justify-content: space-between;
    background: #fff;
    box-shadow: 0px 1px 1px 1px rgba(97, 97, 97, 0.2);
    border-radius: 6px;
    padding: 15px 20px;
    transition: transform .2s ease-out, top 0.2s ease-out;
    transform: scale(1) translate(-50%);
    transform-origin: center;
    height: 30px;
    margin: 0px;
    left: 50%;
    width: 500px;


    &[class*=deleting]{
      transform: translateX(-50%) scale(0.2) ;
    }



    &[class*=movingTodo]{
      border: 1px solid #fff0cb;
    }

    &:last-child{
      margin-bottom: 100px;
    }


    &.starterTodo{
      justify-content: center;
      align-items: center;
      text-align: center;
      height: 200px;
      font-size: 18px;
      width: 300px;
      margin: 40px auto;
      transform: none;
      left: 50%;
      transform: translateX(-50%);

    }
    .todoEditorholder{
      position: relative;

      .todoText, .editor{
        position: absolute;
        width: $widthOfTodoText;
        height: 30px;
        box-sizing: border-box;

      }
      .todoText{
        user-select: none;
        margin: 0;
        font-size: 1em;
        margin: 2px;
        padding: 2px;
        display: flex;
        align-items: center;
        line-height: 30px;
        position: relative;
        &:before{
          content: '';
          top: 50%;
          position: absolute;
          left: 0;
          width: 0%;
          height: 2px;
          background: $red;
          transition: all 0.3s ease-out;
        }
        &[class*="completed"]{
          opacity: 0.7;
          &::before{
            width: 100%;
          }
        }
      }
      .editor{
        display: none;
        height: 45px;
        top: 50%;
        transform: translateY(-50%);
      }
      .editTodoInput{
        font-size: 1em;
        width: $widthOfTodoText;
        height: 30px;
        box-sizing: border-box;
        border: 1px solid #d4d4d4;
        border-radius: 5px;
        padding: 5px;
        margin: 2px;
        height: 40px;
      }
    }
    .icons{
      display: flex;
      align-items: center;
    }
    svg{
      cursor: pointer;
      &:not(:last-child){
        margin-right: 15px;
      }
      &:first-child{
        fill: $green;
      }
      &:last-child{
        fill: $red;
      }

    }

    &[class*=completed]{
      filter: blur(.7px);
      svg:nth-child(2){
        pointer-events: none !important;
      }
    }

    @media(max-width: 480px){
        padding: 10px !important;
        width: 90%;
        margin: 0px;
        left: 50%;
        transform: translateX(-50%);


      .todoText, .editor, .editTodoInput{
        font-size: 0.9em !important;
        width: 200px !important;
      }

    }


  }

}


.addTodoToggler{
  position: fixed;
  cursor: pointer;
  bottom: 15px;
  right: 15px;
  height: 70px;
  width: 70px;
  z-index: 1;
  // background: #29727f;
  box-shadow: 1px 1px 1px #307784;
  background: radial-gradient(#307784, #2f8796);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: rotate(0deg) scale(1.0);
  transition: all 0.3s cubic-bezier(0, 0, 0.57, 1.65);
  svg{
    stroke-width: 5px;
    stroke: #fff;
    height: 25px;
    transform: rotate(0deg);
    transition: transform 0.2s ease-in-out;
    cursor: pointer;
  }
  &[class*=toggledOn]{
    transform: rotate(-45deg) scale(1.0);
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);

  }
}

.todoCount{
  position: absolute;
  font-size: 12px;
  color: lightgrey;
  left: 50%;
  transform: translateX(-50%);
  span{
    font-size: 16px;
    color: #00bcd4;
  }
}

  .addTodoMenu{
    position: absolute;
    width: 80%;
    max-width: 400px;
    right: 45px;
    height: 250px;
    bottom: 95px;
    background: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    box-shadow: 0px 1px 1px 1px rgba(97, 97, 97, 0.2);
    transform-origin: bottom right;
    transform: scale(0);
    opacity: 0;
    transition: all 0.25s cubic-bezier(0, 0.25, 0.71, 1.15);

    &[class*=showMenu]{
      transform: scale(1.0);
      opacity: 1;
    }

    input{
      padding: 10px;
      box-shadow: 0px 1px 1px 1px rgba(97, 97, 97, 0.2);
      border: 0;
      border-radius: 8px;
      width: 200px;
      height: 40px;
      box-sizing: border-box;
    }

    input[type="submit"]{
      margin-top: 20px;
      background: #307e8c;
      color: white;
      cursor: pointer;
    }

    h1{
      margin-top: 0;
      font-size: 25px;
    }
  }
